<div class="bookmark">
  <div class="bookmark-container">
    <div class="bookmark-header">
      <span>Table of Content</span>
      <span class="close">&times;</span>
    </div>
    <div class="bookmark-content">
    </div>
  </div>
</div>
<%- js('js/bookmark') %>