<% if (post.categories && post.categories.length) { %>
    <div class="article-category">
    <i class="icon fa fa-list-ul"></i>
    <%- list_categories(post.categories, {
        style: 'none',
        separator: ' > ',
        show_count: false,
        class: 'article-category'
    }) %>
    </div>
<% } %>