
<footer class="article-footer">
  <div class="cc">
    <a class="cc-images" rel="license" href="http://creativecommons.org/licenses/by-nc/4.0/">
      <img alt="知识共享许可协议" style="border-width:0" src="https://creativecommons.org/wp-content/themes/creativecommons.org/images/chooser_cc.png" />
      <img alt="知识共享许可协议" style="border-width:0" src="https://creativecommons.org/wp-content/themes/creativecommons.org/images/chooser_by.png" />
      <img alt="知识共享许可协议" style="border-width:0" src="https://creativecommons.org/wp-content/themes/creativecommons.org/images/chooser_nc.png" />
    </a>
    <span class="cc-text"> 本网站<strong>原创内容（非转载文章）</strong>采用 
      <a rel="license" href="http://creativecommons.org/licenses/by-nc/4.0/">
        知识共享署名-非商业性使用 4.0 国际许可协议</a>
      进行许可。
    </span>
  </div>

  <%- partial('share/index', { post: post }) %>
</footer>