<div id="search-form-wrap">
<% if (theme.search.insight) { %>
    <form class="search-form">
        <input type="text" class="ins-search-input search-form-input" placeholder="<%= __('index.search') %>" />
        <button type="submit" class="search-form-submit"></button>
    </form>
    <%- partial('search/insight') %>
<% } else { %>
    <%- search_form({text: __('index.search')}) %>
<% } %>
</div>