// Config
support-for-ie = false
vendor-prefixes = webkit moz ms official

// Colors
color-default = #444
if hexo-config("customize.theme_color")
    color-theme = convert(hexo-config("customize.theme_color"))
else
    color-theme = #3b8dbd

if hexo-config("customize.sub_color")
    color-sub = convert(hexo-config("customize.sub_color"))
else
    color-sub = color-theme
    
color-theme-red = red(color-theme)
color-theme-green = green(color-theme)
color-theme-blue = blue(color-theme)
color-theme-opacity-4 = rgba(color-theme-red, color-theme-green, color-theme-blue, .4)
color-theme-opacity-6 = rgba(color-theme-red, color-theme-green, color-theme-blue, .6)
color-theme-opacity-8 = rgba(color-theme-red, color-theme-green, color-theme-blue, .8)
color-grey = #999
color-header-background = #26272b
color-header-background-img = "https://source.unsplash.com/collection/3503816"
color-main-background = #fff
color-background = #fff
color-mobile-nav-background = #191919
color-border = #aaa
color-border-light = #eee
color-nav-foreground = rgba(255,255,255,0.7)
color-nav-background = rgba(16,16,16,0.6)
color-nav-hover-background = rgba(0,0,0,0.1)
color-sidebar-background = #f0f0f0
color-sidebar-text = #666
color-light = #666
color-sidebar-text-dark = #444
color-footer-background = #33363b
color-quoteblock-background = rgba(232,232,232,.6)

// Fonts
font-sans = "Helvetica", "Titillium Web", "Helvetica Neue", Helvetica, Arial, "Microsoft Yahei", sans-serif
font-serif = Georgia, "Times New Roman", serif
font-mono = "Source Code Pro", Consolas, Monaco, Menlo, Consolas, monospace
font-icon-profile-size = 24px
font-size = 14px
font-size-code = 14px
font-size-article = 18px
line-height = 1.4em
line-height-title = 1.3em

// Header
logo-url = hexo-config("customize.logo.url")
logo-width = 0px + hexo-config("customize.logo.width")
logo-height = 0px + hexo-config("customize.logo.height")

// Sidebar
sidebar = hexo-config("customize.sidebar")
sidebar-width = 340px
sidebar-toggle-width = 50px

// Layout
container-padding = 50px
container-inner-min-width = 320px
container-inner-max-width = 1320px
article-padding = 80px
nav-height = 60px
main-nav-child-width = 180px
mobile-nav-width = 280px
thumbnail-default = "images/thumb-default.png"
thumbnail-default-small = "images/thumb-default-small.png"
preloader = "images/preloader.gif"
preloader-2x = "images/preloader@2x.gif"
block-vertical-margin = 2em;
block-horizontal-margin = 2em;
if hexo-config("customize.sidebar") == "left"
    block-shadow = 0px 1px 3px 0px rgba(0,0,0,0.1)
else
    block-shadow = 0px 1px 3px 0px rgba(0,0,0,0.1)
block-shadow-light = 0px 0px 1px 0px rgba(0,0,0,0.1)

// Code Highlight
highlight = hexo-config("customize.highlight") || "tomorrow"

// Miscellaneous
color-twitter = #00aced
color-facebook = #3b5998
color-pinterest = #cb2027
color-google = #dd4b39

