#header
  height: 60px;

.nav-container
  clearfix()
  width: 100%;
  text-align: center;
  box-shadow: inset 0 1px 0 rgba(255,255,255,0.05),
                          0 -1px 0 rgba(0,0,0,0.2),
                          inset 1px 0 0 rgba(0,0,0,0.2),
                          inset -1px 0 0 rgba(0,0,0,0.2)
  .main-nav-list-item
    position: relative
    display: inline-block;
    text-transform: uppercase
    padding: 18px 14px
    transition: 0.2s ease-in
    cursor: pointer;
    &:hover
      background: color-nav-hover-background
      color: color-theme
      & > a
        color: color-theme
    .main-nav-list-link
      text-shadow: 0 1px rgba(0, 0, 0, 0.4)
      color: #fff
      text-decoration: none
      line-height: 24px
      font-size: 18px
